body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #383838;
  background-color: #fff;
}

.login-container {
  
  .black-bg{
    background-color: #000000;
    opacity: 0.5;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .topbanner {
    width: 100%;
    height: 220px;
    background: url(../../../images/topbanner.jpg) center bottom/cover no-repeat;
    position: relative;

    .poswrap {
      position: absolute;
      width: 100%;
      bottom: 25px;
      text-align: center;

      .brand {
        width: 289px;
        background-size: 289px 46px;
        h1 {
          color: #fff;
          -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
          -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
          text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
          text-align: center;
        }
      }
      .desc {
        color: #fff;
        font-size: 18px;
        -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        text-align: center;
      }
    }
  }
  .form-unit {
    width: 100%;
    max-width: 320px;
    margin: 30px auto;
    padding: 0 10px;

    .horizontal-line {
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      margin-bottom: 30px;
      margin-top: 10px;
    }

    .validation {
      border: 1px solid #ff6d58;
      display: none;
      margin-bottom: 20px;
      padding: 10px 15px;
      position: relative;
      border-radius: 3px;
      width: 100%;
      color: #ff6d58;
    }

    .form-control {
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      height: auto;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      font-size: 16px;
      line-height: 20px;
      -webkit-appearance: none
    }

    @btnPadding: 12px;
    @btnLineHeight: 20px;
    @btnHeight: @btnPadding*2+@btnLineHeight;
    @btnMg: 20px;

    .btn {
      margin-bottom: @btnMg;
      padding: @btnPadding;
      height: @btnHeight;
      font-size: 16px;
      width: 100%;
      display: inline-block;
      outline: 0;
      border: none;
      border-radius: 3px;

      position: relative;

      a {
        position: absolute;
        text-align: center;
        line-height: @btnHeight;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    .btn:focus {
      outline: none;
    }
    .btn-primary {
      color: #fff;
    }
    .anim-blue-all {
      position: relative;
      border: 1px solid;
      a {
        color: #fff;
        -webkit-transition: padding-right 218ms ease;
        -o-transition: padding-right 218ms ease;
        transition: padding-right 218ms ease;
      }
    }
    .anim-blue {
      position: relative;
      border: 1px solid #03a9f4;
      background-color: #fff;
      a {
        color: #03a9f4;
      }
    }
    .anim-blue:hover {
      background-color: #03a9f4;
      a {
        color: #fff;
      }
    }
    .anim-blue-all:hover {
      border: 1px solid #03a9f4;
      background-color: #03a9f4;
    }
    .anim-grey {
      position: relative;
      border: 1px solid #aaa;
      background-color: #fff;
      a {
        color: #aaa
      }
    }
    .anim-grey:hover {
      background-color: #aaa;
      a {
        color: #fff;
      }
    }
  }
}