<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>茵蒂克丝</title>
    <!-- 公共的 -->
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- -->
    <!-- 对应的 -->
    <link rel="stylesheet" href="/styles/episodes/aniEpisodes.css"/>
    <!--  -->
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <% include ../common/topNavbar.ejs %>

    <div id="ani-episodes">
        <!-- the animation window -->
        <section class="episodes-summary">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>

            <!-- 剧集logo&简介 -->
            <section class="animation">
                <h3>魔法禁书目录</h3>
                <div class="ani-logo">
                </div>
                <p class="summary-text">
                    作品的主角是自称有着大众脸其实是这一带有名的混混组首领独子的高中生一条乐。在很久以前，他曾经与一位女孩子有过极为珍贵的约定：你拿着锁，我拿着钥匙，将其珍视之物，时刻不离带在身边。等到有一天我们长大再会的时候，用这把钥匙将其中的东西取出来，那时候……我们就结婚吧。可惜天不从人愿，从美国转学回来的美女转校生桐崎千棘被其父安排被迫与一条乐交往，两人开始假交往假约会的交往中。而另一方面，一条乐在升入高中以后与曾经有过约定的女孩再度相遇，自此想要过平凡生活的一条乐不得不展开了不平凡的高中生活。
                </p>
            </section>
            <!-- 剧集选择 -->
            <section class="episodes-selector">
                <h3>
                    episodes
                </h3>
                <div class="episode-sources">
                    <ol class="sources">
                        <li>哔哩哔哩</li>
                        <li>AcFun</li>
                        <li>优酷</li>
                        <li>腾讯</li>
                    </ol>
                    <div class="selector">
                        <ol class="episodes-select">
                            <li>第24集</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                        <ol class="pages">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ol>
                    </div>
                </div>
                <section class="ani-tags">
                    <h3>
                        标签
                    </h3>
                    <ol class="tags">
                        <li>好好好好好</li>
                        <li>好好好好</li>
                        <li>好好好</li>
                        <li>好好</li>
                        <li>好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                        <li>好好</li>
                    </ol>
                </section>
            </section>
            <!-- 标签，第一印象  -->
        </section>
        <!-- vote board-->
        <section class="vote-board">
            <h2>
                vote
            </h2>
            <div class="transparent-bg"></div>

            <div class="vote-list">
                <ul>
                    <li>
                        <header class="msg">
                            <img src="images/index2.jpg" />
                            <div>
                                <span class="username">用户名用户名</span>
                                <span class="time">10分钟前</span>
                            </div>
                        </header>
                        <p class="description">
                            一部建立辛辣讽刺上的温和喜剧，好在情感的跨度上没什么明显的落差。奥莉芙对“阳光小美女”的执着是整个故事的动力之源，她时而默默地自省，时而表现出有力的怜悯之心——再硬的心肠，也被这个小女孩所融化了，正是她一个人的力量，将整部影片从黑色电影的冷硬边缘，重新拉回到温暖的气息下。
                        </p>
                        <ul class="selectors">
                            <li>
                                选项1
                            <li>
                                选项2
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </section>
        <!-- 评论 -->
        <section class="comment-list">
            <h2>
                comments
            </h2>
            <div class="transparent-bg"></div>

            <ul class="comments">
                <li>
                    <a style="" href="http://space.bilibili.com/4616089" target="_blank" card="Zero丶one">
                        <div class="facebox">
                            <img src="http://i0.hdslb.com/52_52/user/46160/4616089/myface.jpg"
                                                         class="face">
                        </div>
                    </a>

                    <div class="t">
                        <a href="http://space.bilibili.com/4616089" target="_blank" card="Zero丶one">
                            Zero丶one
                        </a>
                        <span class="elinfo">10秒前</span>
                    </div>
                    <div class="content">看评论吓得我一开始就***了</div>
                </li>
            </ul>

        </section>
    </div>
</div>
</body>
</html>
