body {
  font-family: "Microsoft Yahei", "微软雅黑";
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
}
* {
  color: #ffffff;
}
p {
  line-height: 1.5em;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf {
  clear: both;
  overflow: hidden;
  height: 0;
}
.hide {
  display: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
.red {
  background-color: #D84747;
}
.orange {
  background-color: #ECAF40;
}
.green {
  background-color: #46ae46;
}
.blue {
  background-color: #6cabff;
}
.cyan {
  background-color: #009393;
}
.purple {
  background-color: #b500b5;
}
.orange,
.yellow,
.yellow,
.green,
.blue,
.cyan,
.purple {
  color: #ffffff;
}
