<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>茵蒂克丝</title>
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/main/newAnimation.css"/>
    <link rel="stylesheet" href="/styles/main/sysRecommend.css"/>
    <link rel="stylesheet" href="/styles/main/msgBoard.css"/>
    <link rel="stylesheet" href="/styles/episodes/aniEpisodes.css"/>
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <% include ../topNavbar.ejs %>

    <div id="main-window">
        <!-- AV界面 -->
        <section class="newAnimation">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>
            <ul class="animation-list">
                <li class="large orange"></li>
                <li class="middle red"></li>
                <li class="middle blue"></li>
                <li class="large cyan"></li>
                <li class="large purple"></li>
                <li class="middle yellow"></li>
                <li class="middle green"></li>
            </ul>
        </section>

        <!-- 日推 or center bar-->
        <section class="sys-recommend">
            <h2>
                R
            </h2>
            <div class="transparent-bg"></div>

        </section>

        <!--  信息板 message board-->
        <section class="msg-board">
            <h2>
                M
            </h2>
            <div class="transparent-bg"></div>

        </section>
    </div>

    <div id="ani-episodes">
        <!-- the animation window -->
        <section class="episodes-summary">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>

            <section class="animation">
                <h3>魔法禁书目录</h3>
                <div class="ani-logo">
                </div>
                <p class="summary-text">
                        作品的主角是自称有着大众脸其实是这一带有名的混混组首领独子的高中生一条乐。在很久以前，他曾经与一位女孩子有过极为珍贵的约定：你拿着锁，我拿着钥匙，将其珍视之物，时刻不离带在身边。等到有一天我们长大再会的时候，用这把钥匙将其中的东西取出来，那时候……我们就结婚吧。可惜天不从人愿，从美国转学回来的美女转校生桐崎千棘被其父安排被迫与一条乐交往，两人开始假交往假约会的交往中。而另一方面，一条乐在升入高中以后与曾经有过约定的女孩再度相遇，自此想要过平凡生活的一条乐不得不展开了不平凡的高中生活。
                </p>
            </section>

            <div class="other-more">

            </div>
        </section>
    </div>
</div>
</body>
</html>
