<!DOCTYPE html>
<html>
<head>
    <title>茵蒂克丝</title>
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>
    <link rel="stylesheet" href="/styles/index/index.css"/>
    <link rel="stylesheet" href="/styles/index/newAnimation.css"/>
    <link rel="stylesheet" href="/styles/index/sysRecommend.css"/>
    <link rel="stylesheet" href="/styles/index/msgBoard.css"/>
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <% include ../topNavbar.ejs %>

    <div class="main-window">
        <!-- AV界面 -->
        <section class="newAnimation">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>
            <ul class="animation-list">
                <li class="large orange"></li>
                <li class="middle red"></li>
                <li class="middle blue"></li>
                <li class="large cyan"></li>
                <li class="large purple"></li>
                <li class="middle yellow"></li>
                <li class="middle green"></li>
            </ul>
        </section>

        <!-- 日推 or center bar-->
        <section class="sys-recommend">
            <h2>
                R
            </h2>
            <div class="transparent-bg"></div>

        </section>

        <!--  信息板 message board-->
        <section class="msg-board">
            <h2>
                M
            </h2>
            <div class="transparent-bg"></div>

        </section>
    </div>
</div>
</body>
</html>
