<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>茵蒂克丝</title>
    <!-- 公共的 -->
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>

    <link rel="stylesheet" href="/styles/topNavbar.css"/>
    <!-- -->

    <!-- 对应 -->
    <link rel="stylesheet" href="/styles/main/mainWindow.css"/>
    <!-- -->
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <%- navbar %>

    <div id="main-window">
        <%- newAnimation %>
        <!-- AV界面 -->
        <!--
        <section class="new-animation">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>

            <div class="animation-list">
                <ul>
                    <li class="large red">
                        <img />
                        <div class="message ">
                            <h3>动漫名字动漫名字动漫名字动漫名</h3>
                            <p>更新至第
                                <span class="episode">10</span>
                                话
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        -->

        <!-- 日推 or center bar-->
        <section class="sys-recommend">
            <h2>
                R
            </h2>
            <div class="transparent-bg"></div>

        </section>

        <!--  信息板 message board-->
        <section class="msg-board">
            <h2>
                M
            </h2>
            <div class="transparent-bg"></div>

        </section>
    </div>

</div>
</body>
</html>
