<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>茵蒂克丝</title>
    <!-- 公共的 -->
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>

    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/topNavbar.css"/>
    <link rel="stylesheet" href="/styles/functions/login.css"/>
    <!-- / -->

    <!-- 对应 -->
    <link rel="stylesheet" href="/styles/main/mainWindow.css"/>
    <!-- / -->
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <%- navbar %>

    <div id="main-window">
        <!-- AV界面 -->
        <!--
        <section class="new-animation">
            <h2>
                AV
            </h2>
            <div class="transparent-bg"></div>

            <div class="animation-list">
                <ul>
                    <li class="large red">
                        <img />
                        <div class="message ">
                            <h3>动漫名字动漫名字动漫名字动漫名</h3>
                            <p>更新至第
                                <span class="episode">10</span>
                                话
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        -->
        <div class="new-animation-box">
            <%- newAnimation %>
        </div>


        <!-- 日推 or center bar-->
        <div class="sys-recommend-box">
            <section class="sys-recommend">
                <h2>
                    R
                </h2>
                <div class="transparent-bg"></div>

            </section>
        </div>

        <!--  信息板 message board-->
        <div class="msg-board-box">
            <section class="msg-board">
                <h2>
                    M
                </h2>
                <div class="transparent-bg"></div>

            </section>
        </div>
    </div>
</div>
</body>
<script src="http://localhost:8080/public/js/common/components.js"></script>
<script src="http://localhost:8080/public/js/mainIndex.js"></script>
</html>
