#main-window {
  display: flex;
}
#main-window .new-animation {
  flex-shrink: 0;
  flex-grow: 1.2;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* basic */
  /* init */
  /* new Animation */
  /*
彩虹7色,分别对应14种
background-color;
color;
*/
}
#main-window .new-animation .animation-list {
  box-sizing: border-box;
  padding: 5px;
  flex: 1;
  overflow-y: scroll;
  position: relative;
}
#main-window .new-animation .animation-list ul {
  overflow: hidden;
}
#main-window .new-animation .animation-list ul li {
  box-sizing: border-box;
  padding: 10px;
  float: left;
  position: relative;
}
#main-window .new-animation .animation-list ul li img {
  background-image: url("http://r2.ykimg.com/05100000558D1F3467BC3D5815095E6A");
  background-size: cover;
  width: 50%;
  height: 100%;
  float: left;
}
#main-window .new-animation .animation-list ul li .message {
  box-sizing: border-box;
  padding: 0 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  right: 0;
  bottom: 10px;
}
#main-window .new-animation .animation-list ul li .message > h3 {
  font-size: 17px;
}
#main-window .new-animation .animation-list ul li .message > p {
  font-size: 14px;
  position: absolute;
  bottom: 0;
}
#main-window .new-animation .animation-list ul li .message > p .episode {
  font-size: 14px;
}
#main-window .new-animation .animation-list ul li.middle {
  margin: 1%;
  width: 23%;
  height: 110px;
}
#main-window .new-animation .animation-list ul li.large {
  margin: 1%;
  width: 48%;
  height: 110px;
}
#main-window .sys-recommend {
  flex-grow: 1.1;
  margin-left: 1%;
  height: 100%;
  position: relative;
}
#main-window .msg-board {
  flex-grow: 1.1;
  margin-left: 1%;
  height: 100%;
  position: relative;
}
