#main-window .new-animation {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* basic */
  /* init */
  /* new Animation */
  /*
彩虹7色,分别对应14种
background-color;
color;
*/
}
#main-window .new-animation .animation-list {
  box-sizing: border-box;
  padding: 5px;
  flex: 1;
  overflow-y: scroll;
  position: relative;
}
#main-window .new-animation .animation-list ul {
  overflow: hidden;
}
#main-window .new-animation .animation-list ul li {
  box-sizing: border-box;
  padding: 5px;
  float: left;
}
#main-window .new-animation .animation-list ul li.middle {
  margin: 1%;
  width: 23%;
  height: 110px;
}
#main-window .new-animation .animation-list ul li.large {
  margin: 1%;
  width: 48%;
  height: 110px;
}
#main-window .sys-recommend {
  margin-left: 1%;
  width: 24%;
  height: 100%;
  position: relative;
}
#main-window .msg-board {
  margin-left: 1%;
  width: 24%;
  height: 100%;
  position: relative;
}
