/* new Animation */
.newAnimation {
  width: 50%;
  height: 100%;
  position: relative;
}
.newAnimation .animation-list {
  box-sizing: border-box;
  padding: 5px;
}
.newAnimation .animation-list li {
  box-sizing: border-box;
  padding: 5px;
  float: left;
}
.newAnimation .animation-list li.middle {
  margin: 1%;
  width: 23%;
  height: 110px;
}
.newAnimation .animation-list li.large {
  margin: 1%;
  width: 48%;
  height: 110px;
}
