@import "../var";

@newAnimationWidth: @containerWidth/2;

@padding: 5px;
.new-animation {

  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  .animation-list {
    box-sizing: border-box;
    padding: @padding;

    flex: 1;
    overflow-y: scroll;

    position: relative;

    > h2 {

    }

    ul {
      overflow: hidden;

      @padding: 10px;

      li {
        box-sizing: border-box;
        padding: @padding;
        float: left;

        position: relative;

        @imgWidth: 50%;

        img {
          background-image: url("http://r2.ykimg.com/05100000558D1F3467BC3D5815095E6A");
          background-size: cover;
          width: @imgWidth;
          height: 100%;
          float: left;
        }
        .message {
          box-sizing: border-box;
          padding: 0 @padding;

          position: absolute;
          top: @padding;
          left: @imgWidth;
          right: 0;
          bottom: @padding;

          > h3 {
            font-size: 17px;
          }

          > p {
            font-size: 14px;

            position: absolute;
            bottom: 0;

            .episode {
              font-size: 14px;
            }
          }
        }
      }
      li.middle {
        margin: 1%;
        width: 23%;
        height: @animationLiHeight;
      }
      li.large {
        margin: 1%;
        width: 48%;
        height: @animationLiHeight;
      }
    }
  }
}