#main-window{


  //AV
  .new-animation {
    width: 50%;
    height: 100%;
    position: relative;

    @import "mainWindow_newAnimation";
  }
  //
  .sys-recommend{
    margin-left: 1%;
    width: 24%;
    height: 100%;
    position: relative;

    @import "mainWindow_sysRecommend";
  }
  //
  .msg-board{
    margin-left: 1%;
    width: 24%;
    height: 100%;
    position: relative;

    @import "mainWindow_msgBoard";
  }
}