<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>登录-茵蒂克丝</title>
    <!-- 公共的 -->
    <link rel="stylesheet" href="/styles/common/normalize.css"/>
    <link rel="stylesheet" href="/styles/common/basic.css"/>

    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/topNavbar.css"/>
    <link rel="stylesheet" href="/styles/functions/login.css"/>
    <!-- / -->

    <!-- 对应 -->
    <link rel="stylesheet" href="/styles/main/mainWindow.css"/>
    <!-- / -->
</head>
<body>
<div class="top-bg"></div>
<div class="container">
    <div class="navbar-box">
        <%- navbar %>
    </div>

    <div id="main-window">
        <%- login %>
    </div>
</div>
</body>
<script src="/js/libs/react.js"></script>
<script src="/js/libs/reflux.js"></script>
<script src="/js/libs/jquery.js"></script>
<!-- webpack server 热切 -->

<script src="http://localhost:8080/public/js/common/components.js"></script>
<script src="http://localhost:8080/public/js/loginIndex.js"></script>

<!-- 项目静态 -->
<!--

<script src="/js/common/components.js"></script>
<script src="/js/mainIndex.js"></script>
-->
</html>
