/* new Animation */
.episodes-summary {
  width: 60%;
  height: 100%;
  position: relative;
  /* 剧集logo&简介 */
  /* 剧集选择 */
}
.episodes-summary > .animation,
.episodes-summary > .episodes-selector {
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  width: 50%;
  font-size: 14px;
  flex-flow: column;
  position: absolute;
  top: 55px;
  bottom: 0;
}
.episodes-summary > .animation > h3,
.episodes-summary > .episodes-selector > h3 {
  color: #ffffff;
}
.episodes-summary > .animation {
  left: 0;
  /* 簡介 */
}
.episodes-summary > .animation > * {
  margin-bottom: 10px;
}
.episodes-summary > .animation .ani-logo {
  flex: 1;
  background-image: url(/images/index.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}
.episodes-summary > .animation .summary-text {
  flex: 1;
  width: 100%;
  line-height: 1.5em;
  font-size: 12px;
  color: #ffffff;
  overflow-y: scroll;
}
.episodes-summary > .episodes-selector {
  right: 0;
}
.episodes-summary > .episodes-selector > * {
  margin-bottom: 10px;
}
.episodes-summary > .episodes-selector .episode-sources {
  background: #345678;
  flex: 1;
}
.episodes-summary > .episodes-selector .other {
  background: #976521;
  flex: 1;
}
