<link rel="stylesheet" href="styles/topNavbar.css"/>
<header id="topNavbar">
    <!-- 大标题 -->
    <h1>
        <img src="images/index2.jpg" alt="logo" height="100%" />
        茵蒂克丝
    </h1>
    <div class="user-profile">
        <div class="avatar">
        </div>
        <div class="user-msg">
            <span class="username">
                这里有个username
            </span>
        </div>
    </div>
</header>