@import "../var";

@padding:10px;

.episodes-summary{
  width: 60%;
  height: 100%;

  position: relative;

  > .animation,> .episodes-selector{
    display: flex;
    box-sizing: border-box;
    padding: @padding*1.5;
    width: 50%;
    //height: 100%;
    font-size: 14px;

    flex-flow: column;

    position: absolute;
    top:@headerHeight;
    bottom: 0;

    > h3{
      color: #ffffff;
    }
  }

  /* 剧集logo&简介 */
  > .animation{
    //background-color: #c0c168;
    left: 0;

    > *{
      margin-bottom: @padding;
    }

    h3{
    }
    .ani-logo{
      flex: 1;
      background-image: @exampleBgi;
      -webkit-background-size: cover;
      background-size: cover;

      width: 100%;
    }
    /* 簡介 */
    .summary-text{
      flex: 1;
      width: 100%;
      line-height: 1.5em;
      font-size: 12px;
      color: #ffffff;

      overflow-y: scroll;
    }
  }

  /* 剧集选择 */
  > .episodes-selector{
    //background-color: #7579ba;
    right: 0;

    > *{
      margin-bottom: @padding;
    }
    h3{
    }
    .episode-sources{
      background: #345678;
      flex: 1;
    }
    .other{
      background: #976521;
      flex: 1;
    }
  }
}