@import "../var";

#ani-episodes{

  .episodes-summary{
    width: 60%;
    height: 100%;

    position: relative;

    @import "aniEpisodes_logo";
    @import "aniEpisodes_selector";
  }

  .vote-board{
    margin-left: 2.5%;
    width: 37.5%;
    height: 100%;

    position: relative;

    @import "aniEpisodes_voteBoard";
  }
}
