@import "../var";

#ani-episodes{

  .episodes-summary{
    width: 50%;
    height: 100%;

    position: relative;

    @import "aniEpisodes_logo";
    @import "aniEpisodes_selector";
  }

  .vote-board{
    margin-left: 1%;
    width: 24%;
    height: 100%;

    position: relative;

    @import "aniEpisodes_voteBoard";
  }
  .comment-list{
    margin-left: 1%;
    width: 24%;
    height: 100%;

    position: relative;

    @import "aniEpisodes_commentList";
  }
}
