/* basic */
/* init */
/* new Animation */
/*
彩虹7色,分别对应14种
background-color;
color;
*/
div.top-bg {
  background-image: url(/images/bg1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div.container {
  overflow: hidden;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
}
div.container #main-window {
  display: none;
}
div.container #main-window,
div.container #ani-episodes {
  margin-top: 97.5px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
div.container #main-window section,
div.container #ani-episodes section {
  float: left;
}
div.container #main-window section h2,
div.container #ani-episodes section h2 {
  height: 55px;
  color: #ffffff;
}
div.container #main-window .transparent-bg,
div.container #ani-episodes .transparent-bg {
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
}
