body{
  font-family: "Microsoft Yahei","微软雅黑";
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  border: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.cf{
  clear: both;
  overflow: hidden;
  height: 0;
}
.hide{
  display: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: #ffff00;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.cyan{
  background-color: cyan;
}
.purple{
  background-color: purple;
}
.orange,.yellow,.yellow,.green,.blue,.cyan,.purple{
  color: #ffffff;
}